.listUser{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.btn{
    border: none;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #5827b19e;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;

}
.btn:hover{
    color: aqua;
    background-color:#5144eab8;
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
    transform: scale(1.01)

}
.stylePage{
    gap: 15px;
    padding: 20px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}